/* Style inputs, select elements and textareas */

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to right top, #093637, #44A08D);
    background-repeat: no-repeat;
    height: 100vh;
}

.txtinput,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    height: 80px;
}


/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


/* Style the submit button */

.btn {
    background: linear-gradient(to left bottom, #093637, #44A08D);
    color: white;
    padding: 9px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    transition: all 1s;
    margin-top: 2px 2px;
}

.btn:hover {
    transform: scale(1.1);
}


/* Style the container */

.container {
    min-height: 100vh;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: -8px 5px 8px rgba(0, 0, 0, 0.8);
    transition: border 0.15s linear 0s, linear 0s, color 0.15s linear 0s;
}

.heading {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
    border-bottom: 2px solid lightcyan;
    border-right: 2px solid lightcyan;
    box-shadow: 4px 4px 5px #888888;
    width: 400px;
    text-align: center;
}


/* Floating column for labels: 25% width */

.column1 {
    float: left;
    width: 25%;
    margin-top: 6px;
    color: darkcyan;
}


/* Floating column for inputs: 75% width */

.column3 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column1,
    .column3,
    .btn {
        width: 100%;
        margin-top: 0;
    }
}